<kendo-tilelayout [columns]="3" autoFlow="none" [gap]="10" [rowHeight]="350">
    <kendo-tilelayout-item *ngIf="purchaseData">
        <kendo-tilelayout-item-header style="height: 20%;">
            <h3>{{purchaseData.name}}</h3>
        </kendo-tilelayout-item-header>
        <kendo-tilelayout-item-body>
            <img src="{{purchaseData.image}}" alt="Product" style="width:50%;height: 50%;">
            <div style="margin: 5%;">
                <kendo-label class="k-form" text="Quantity" style="padding-right: 5%;">
                    <button kendoButton (click)="handleQuantity('min')">-</button>
                    <input type="text" value="{{productQuantity}}" style="width: 10%;"/>
                    <button kendoButton (click)="handleQuantity('plus')">+</button>
                </kendo-label>   
            </div>
            <div style="margin: 5%;">
                <button kendoButton themeColor="primary" class="form-button" *ngIf="removeCart" class="form-button" (click)=" removeToCart(purchaseData.id)">Remove to
                    Cart</button>
                <button kendoButton themeColor="primary" class="form-button" *ngIf="!removeCart" class="form-button" (click)="addToCart()">Add to Cart</button>
            </div>
        </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>
</kendo-tilelayout>


<!-- <div class="row product-details" *ngIf="purchaseData">
    <div class="col-sm-6">
        <img class="product-img" src="{{purchaseData.image}}" alt="" style="width: 25%;">
    </div>
    <div class="col-sm-6">
        <div class="details">
            <h1>{{purchaseData.name}}</h1>
            <h3>Price : {{purchaseData.price}}</h3>
            <button *ngIf="removeCart" class="form-button" (click)="removeToCart(purchaseData.id)">Remove to Cart</button>
            <button *ngIf="!removeCart" class="form-button" (click)="addToCart()">Add to Cart</button>
            <div class="quantity-group">
                <button (click)="handleQuantity('min')">-</button>
                <input type="text" value="{{productQuantity}}" />
                <button (click)="handleQuantity('plus')">+</button>
            </div>
        </div>
    </div>
</div> -->